<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::head(title='Rapport')"></head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}" th:text="Genres"></a></li>
    </ul>
</nav>
<h1>Rapport</h1>
<h3 th:if="${nietgereserveerdeFilms.isEmpty()}">De reservatie is OK</h3>
<h4 th:if="not ${nietgereserveerdeFilms.isEmpty()}">De reservatie van volgende film(s) zijn mislukt.</h4>
<ul th:object="${nietgereserveerdeFilms}">
    <li th:each="film:${nietgereserveerdeFilms}" th:text="${film.titel}"></li>
</ul>
</body>
</html>