<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::head(title='Bevestigen')"></head>
<body>
<nav th:replace="fragment::navbar"></nav>
<div>
    <h1>Bevestigen</h1>
    <p th:text="|${mandje.getIdsVanFilms().size()} film(s) voor|"></p>
    <p th:if="${klant}" th:text="${klant}"></p>
    <form th:action="@{/bevestiging/gedaan}"  method="get">
        <button>Bevestig</button>
    </form>

</div>
</body>
<script th:src="@{/js/preventDoubleSubmit.js}" defer></script>
</html>
