<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::head(title=${film.titel})"></head>
<body>
<h3><a th:href="@{/}" th:text="Genres"></a></h3>
<div th:if="${film}">
    <dl th:object="${film}">
        <h2 th:text="*{titel}"></h2>
        <img th:src="@{/images/{id}.jpg (id=*{id})}">
        <dt>Prijs :</dt>
        <dd th:text="|€*{prijs}|"></dd>
        <th:block th:object="${stock}">
            <dd>Voorraad :</dd>
            <dt th:text="*{voorraad}"></dt>
            <dd>Gereserveerd :</dd>
            <dt th:text="*{gereserveerd}"></dt>
            <dd>Beschikebaar :</dd>
            <dt th:text="*{getBeschikebaar()}"></dt>
            <form method="post" th:action="@{/mandje/{id}(id=${film.id})}">
                <button th:if="${stock.beschikebaar}>0 ">in winkelmandje</button>
            </form>
        </th:block>
    </dl>
</div>
</body>
</html>